.checked {
    color: orange;
} 

#pirmasCT {
  
    background-color: maroon;
    
    height: 300px;
    
    padding: 0px;
  
  }
  
  
  
  
  #pic {
    
     width:auto; 
    
     height: 400px;
    
     }