/*Jurijus*/
html{
    font-family: "Times New Roman", Times, serif;
}


#headerContainer{
    height: 70 px;
    width: 100%;
}
#headerContainer ul{
    float: left;
    margin: 0;
    margin-left: 30px;
}
#headerContainer ul li{
    display: inline;
    padding-left: 0px;
    margin-right: 0px;
    text-transform: uppercase;
    line-height: 65px;
}
#headerContainer img{
    height: 62px;
    margin-left: 0px;
}
nav{
   background-color: white;
   font-family: "Times New Roman", Times, serif;
   position: fixed;
   top: 0 ;
   z-index: 1;
}
#headerContainer{
    padding-top: 65px;
}
nav ul a{
    color:rgb(101, 163, 230) !important;
    margin-right: 70px;
}
#dropdown1{
    top: 65px !important;
    opacity: 0.7 !important; 
}
body #dropdown1 a{
    font-size: 18px !important;
}
#dropdown2{
    top: 65px !important;
    opacity: 0.7 !important;
}
body #dropdown2 a{
    font-size: 18px !important;
}
.dropdown-content a{
    color:rgb(101, 163, 230) !important;
}
.brand-logo img{
    width: 75px;
    margin-left: 20px;
}
#bar1 a{
    font-size: 23px !important;
}
#index-banner{
    background-image: url("images/Fonas1.jpg"); 
}
#index-banner h1{
    color: yellowgreen !important;
    background-color: rgba(62, 63, 58, 0.3);
 
}
body #perejimoJuosta{
    border-left: 10px white;
    border-right: 10px white;
}
/*footer*/
footer.footerContainer {
    margin: 0;
    text-align: center;
  }
#footerMaps{
    width: 150px; 
    height: 150px;  
}
.footerContainer{
    background-color: rgb(101, 163, 230)!important;
}
#footer1{
    border: 1px;
    background-color: rgba(62, 63, 58, 0.3);
    height: 70px;
    cursor: pointer;
}
#footer1:hover{
    background-color: rgba(232, 235, 222, 0.3)
}
#footer2{
    border: 1px;
    background-color:  rgba(17, 17, 17, 0.3);
    height: 70px;
    cursor: pointer;
}
#footer2:hover{
    background-color: rgba(232, 235, 222, 0.3)
}
#footer3{
    border: 1px;
    background-color:  rgba(62, 63, 58, 0.3);
    height: 70px;
    cursor: pointer;
}
#footer3:hover{
    background-color: rgba(232, 235, 222, 0.3)
}

#pazintinesContainer .col{
position: relative;
}
#forma{
    width: 600;
}
.row{
    padding-top: 30px;
    margin: 0 auto;
}
body .perejimoJuosta a{
    color: darkslategray;
    font-size: 21px;
}
body .perejimoJuosta{
    width: 100%;
    margin: auto;
}

#ypatingiPasiulymai {
    color: red;
}
#pranesimoContainer{
    width: 35%;
    padding-top: 30px;
    margin: 0 auto;
}
#orai{
    width: 100%;
}
.orai{
    width: 20%;
    float: left;
    margin-left: 10px;
}

/*Lina*/
.container {
    width: 75%;
}

.col {
    border: 10px solid white;
}

#akcijos {
    
    height: 150;
}

#pirmas {
    background-color: blue;
    padding: 0px;
}

#antras {
    background-color: blue;
    padding: 0px;
}

#trecias {
    background-color: blue;
    padding: 0px;
}

#ketvirtas {
    background-color: blue;
    padding: 0px;
}

#cinqueTerre {
    width: 100%;
    height: 300px;
    background-image: url('../images/cinqueTerre1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#kainaCT {
    position: absolute; /*jei cia dedama position, tai ir tevinis el turi turet position*/
    top:20px;
    left: 50px;
    background-color: royalblue;
    padding: 18px;
    color: white;
    opacity: 0.8;
}

#daugiauCT {
    position: absolute; /*jei cia dedama position, tai ir tevinis el turi turet position*/
    bottom:20px;
    right: 50px;
    background-color: royalblue;
    padding: 18px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

#tekstas1 {
    color: snow;
}

#tekstas1:hover {
    color: violet;
}

#newYork {
    width: 100%;
    height: 300px;
    background-image: url('../images/NYC1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#kainaNY {
    position: absolute; /*jei cia dedama position, tai ir tevinis el turi turet position*/
    top:20px;
    left: 50px;
    background-color: royalblue;
    padding: 18px;
    color: white;
    opacity: 0.8;
}

#daugiauNY {
    position: absolute;
    bottom:20px;
    right: 50px;
    background-color: royalblue;
    padding: 18px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

#tekstas2 {
    color: snow;
}

#tekstas2:hover {
    color: violet;
}

#jungtiniaiArabuEmyratai {
    width: 100%;
    height: 300px;
    background-image: url('../images/JAE1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#kainaJAE {
    position: absolute;
    top:20px;
    left: 50px;
    background-color: royalblue;
    padding: 18px;
    color: white;
    opacity: 0.8;
}

#daugiauJAE {
    position: absolute;
    bottom:20px;
    right: 50px;
    background-color: royalblue;
    padding: 18px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

#tekstas3 {
    color: snow;
}

#tekstas3:hover {
    color: violet;
}

#juodkalnija {
    width: 100%;
    height: 300px;
    background-image: url('../images/budva1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#kainaJuodkalnija {
    position: absolute;
    top:20px;
    left: 50px;
    background-color: royalblue;
    padding: 18px;
    color: white;
    opacity: 0.8;
}

#daugiauJuodkalnija {
    position: absolute;
    bottom:20px;
    right: 50px;
    background-color: royalblue;
    padding: 18px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

#tekstas4 {
    color: snow;
}

#tekstas4:hover {
    color: violet;
}

.checked {
    color: orange;
}
/* mantas */
img.responsive-img{
    height: 170px;
}



#travelCosts .col {
    position: relative;
}

.travelPrice {

    position: absolute;
    top: 170px;
    left: 1px;
    color: white;
    opacity: 1.0;
    background-color: blue;
}

.travelWrapper {
    width: 100%;
}

a {
 color: black;

}
/* mantas */

/* blinking akcijos */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
     animation: blink .75s linear infinite;
     color: red;
}

@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

#pirmasCT {
    height: 300px;
    padding: 0px;
    }
  
 #pic {
    width:auto; 
    height: 400px;  
}

#uzsakymas {
    position: relative;
    bottom:20px; 
}
    