/*Header*/
/*#container{
    width: 1250px;
    margin: auto;
}*/
#headerContainer{
    height: 70 px;
    width: 100%;
}
#headerContainer ul{
    float: right;
    margin: 0;
    margin-left: 30px;
}
#headerContainer ul li{
    display: inline;
    padding-left: 6px;
    margin-right: 6px;
    text-transform: uppercase;
    line-height: 70px; 
}
#headerContainer img{
    height: 70px;
    margin-left: 20px;
}
nav{
    background-color:rgba(91, 104, 121, 0.3);
}
#dropdown1{
    top: 65px !important;
}
#dropdown2{
    top: 65px !important;
}
.brand-logo img{
    width: 85px;
}
#bar1 a{
    font-size: 23px !important;
}


