.w3-circle{
        border-radius: 50% !important;
        width: 65px !important;
        height: 65px !important; 
}
.w3-col.m7{
        width: 100% !important;
}
img{
        vertical-align: 0 !important;
}