.col{
    height: 800;
    border: 2px dotted white;
    background-image: url("images/header2.jpg");
}

#ID1{
    height: 300px;
    ;
}
#ID2{
    height: 300px;
    ;
}
#ID3{
    height: 300px;
    ;
}
#ID4{
    height: 300px;
    ;
}
#DIV5{
    height: 300px;
    ;
}
#DIV6{
    height: 300px;
    ;
}
#ID7{
    height: 300px;
    ;
}
#ID8{
    height: 300px;
    ;
}
#ID9{
    height: 300px;
    ;
}
#link1:hover{
    color: red;
}